.body{
    background-color: black;

}
.h1{
    color:rgb(241, 238, 233);
    font-size: 60px;
    text-align: center;
}
.parent{
    background:radial-gradient(black,white);
}
.child1{
    background-color: blue;
}
.child2{
    background-color: rgb(225, 238, 38);
}
.child3{
    background-color: rgb(241, 41, 198);
}
.child4{
    background-color: rgb(24, 228, 75);
}
.child5{
    background-color: rgb(240, 13, 43);
}
.bq{
    color: cornsilk;
    text-align: center;
    font-size: 49px;
}
.div0{
    background-image: url(images/dj.jpg);
    background-size: 25%;
    display: flex;
    height: 600px;
    flex-flow: row nowrap;
}
.div1{
    background-color: blue;
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
.div2{
    background-color: rgb(253, 11, 72);
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
.div3{
    background-color: rgb(0, 255, 76);
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
.div4{
    background-color: rgb(227, 252, 9);
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
.div5{
    background-color: rgb(252, 106, 9);
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
.div6{
    background-color: rgb(29, 151, 182);
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
.div7{
    background-color: rgb(243, 14, 148);
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
.div8{
    background-color: rgb(93, 57, 255);
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
.div9{
    background-color: rgb(243, 29, 39);
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
.div10{
    background-color: rgb(223, 241, 117);
    width: 50px;
    height: 600px;
    margin-left: 80px;
}
